venv/
.env

# Игнорируем файлы, сгенерированные системой
*.pyc
__pycache__/
.DS_Store
db.sqlite3

# Игнорируем логи и временные файлы
logs/
*.log
*.tmp

# Игнорируем настройки IDE и редакторов
.vscode/
.idea/
*.swp
.venv

# Игнорируем файлы БД
*.sqlite3

# Игнорируем зависимости
/node_modules/
