{% extends 'catalog/base.html' %}
{% load static %}

{% block title %}{{ blog.title }}{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ blog.title }}</h1>
    {% if blog.preview_image %}
        <img src="{{ blog.preview_image.url }}" alt="{{ blog.title }}" class="img-fluid mb-3">
    {% else %}
        <img src="{% static 'default-image.jpg' %}" alt="Нет изображения" class="img-fluid mb-3">
    {% endif %}
    <p>{{ blog.content }}</p>
    <p>Просмотры: {{ blog.view_count }}</p>
    <a href="{% url 'blog:blog_update' blog.pk %}" class="btn btn-secondary">Редактировать</a>
    <a href="{% url 'blog:blog_list' %}" class="btn btn-primary">Назад к списку блогов</a>
</div>
{% endblock %}