{% extends 'catalog/base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="container text-center py-5">
    <h1 class="display-4">Catalog</h1>
    <p class="lead">Отличный вариант хранения ваших плагинов и примеров кода, который вы бы хотели продать.</p>

    <div class="mt-4">
        <a href="{% url 'catalog:add_product' %}" class="btn btn-primary btn-lg">Добавить товар</a>
        <a href="{% url 'catalog:product_list' %}" class="btn btn-secondary btn-lg">Просмотреть товары</a>
        <a href="{% url 'blog:blog_list' %}" class="btn btn-success btn-lg">Перейти к блогу</a> <!-- Кнопка для блога -->
    </div>
</div>

<div class="container">
    <h2 class="text-center">Последние продукты</h2>
    <div class="row text-center">
        {% for product in latest_products %}
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                </div>
                <div class="card-body">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
                    {% else %}
                        <img src="{% static 'default-image.jpg' %}" alt="Нет изображения" class="img-fluid">
                    {% endif %}
                    <h1 class="card-title pricing-card-title">{{ product.price }}₽</h1>
                    <p>{{ product.description|truncatechars:100 }}</p>
                    <a href="{% url 'catalog:product_detail' product.pk %}" class="btn btn-lg btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}